In [60]:
import scipy.io
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Converting from .mat to CSV

In [ ]:
#data = scipy.io.loadmat("Prostate_Tumor.mat")

In [31]:
#for i in data:
#    if '__' not in i and 'readme' not in i:
#        np.savetxt((i+".csv"),data[i],delimiter=',')

# importing CSV

In [11]:
df = pd.read_csv("data.csv",header=None)

In [17]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,10500,10501,10502,10503,10504,10505,10506,10507,10508,10509
0,1.0,6.1,-0.1,11.9,14.4,6.0,-15.1,12.7,1731.0,3.1,...,12.3,72.8,4.1,2.5,5.0,22.5,7.3,14.0,19.3,37.3
1,1.0,1.0,0.0,2.0,4.0,0.0,0.0,6.0,1656.0,1.0,...,7.0,25.0,10.0,2.0,4.0,5.0,1.0,6.0,6.0,26.0
2,1.0,22.0,2.0,51.0,52.0,25.0,-20.0,70.0,3600.0,15.0,...,25.0,111.0,-66.0,12.0,14.0,59.0,16.0,-13.0,-10.0,-21.0
3,1.0,14.0,6.0,15.0,21.0,11.0,-17.0,38.0,2554.0,12.0,...,14.0,129.0,-14.0,0.0,23.0,35.0,5.0,25.0,-27.0,0.0
4,1.0,13.0,4.0,39.0,25.0,12.0,-17.0,36.0,5676.0,17.0,...,21.0,94.0,-41.0,16.0,18.0,49.0,29.0,32.0,30.0,-13.0

# Null and missing Data removal

In [18]:
null_data = df[df.isnull().any(axis=1)]

In [87]:
null_data.isnull()

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 10510 columns]

In [26]:
df = df.rename({0:"Class"},axis=1)

In [27]:
df.head()

,Class,1,2,3,4,5,6,7,8,9,...,10500,10501,10502,10503,10504,10505,10506,10507,10508,10509
0,1.0,6.1,-0.1,11.9,14.4,6.0,-15.1,12.7,1731.0,3.1,...,12.3,72.8,4.1,2.5,5.0,22.5,7.3,14.0,19.3,37.3
1,1.0,1.0,0.0,2.0,4.0,0.0,0.0,6.0,1656.0,1.0,...,7.0,25.0,10.0,2.0,4.0,5.0,1.0,6.0,6.0,26.0
2,1.0,22.0,2.0,51.0,52.0,25.0,-20.0,70.0,3600.0,15.0,...,25.0,111.0,-66.0,12.0,14.0,59.0,16.0,-13.0,-10.0,-21.0
3,1.0,14.0,6.0,15.0,21.0,11.0,-17.0,38.0,2554.0,12.0,...,14.0,129.0,-14.0,0.0,23.0,35.0,5.0,25.0,-27.0,0.0
4,1.0,13.0,4.0,39.0,25.0,12.0,-17.0,36.0,5676.0,17.0,...,21.0,94.0,-41.0,16.0,18.0,49.0,29.0,32.0,30.0,-13.0

In [29]:
df["Class"] = df.Class.apply(int)

In [30]:
df.head()

,Class,1,2,3,4,5,6,7,8,9,...,10500,10501,10502,10503,10504,10505,10506,10507,10508,10509
0,1,6.1,-0.1,11.9,14.4,6.0,-15.1,12.7,1731.0,3.1,...,12.3,72.8,4.1,2.5,5.0,22.5,7.3,14.0,19.3,37.3
1,1,1.0,0.0,2.0,4.0,0.0,0.0,6.0,1656.0,1.0,...,7.0,25.0,10.0,2.0,4.0,5.0,1.0,6.0,6.0,26.0
2,1,22.0,2.0,51.0,52.0,25.0,-20.0,70.0,3600.0,15.0,...,25.0,111.0,-66.0,12.0,14.0,59.0,16.0,-13.0,-10.0,-21.0
3,1,14.0,6.0,15.0,21.0,11.0,-17.0,38.0,2554.0,12.0,...,14.0,129.0,-14.0,0.0,23.0,35.0,5.0,25.0,-27.0,0.0
4,1,13.0,4.0,39.0,25.0,12.0,-17.0,36.0,5676.0,17.0,...,21.0,94.0,-41.0,16.0,18.0,49.0,29.0,32.0,30.0,-13.0

# Data Spliting

In [33]:
df_train, df_test = train_test_split(df,test_size=0.2)

In [35]:
df.shape

(102, 10510)

In [36]:
df_train.shape

(81, 10510)

In [37]:
df_test.shape

(21, 10510)

# Data Scaling

In [51]:
cols = df.columns
features = list(cols)
features.remove("Class")

In [55]:
#features

In [56]:
x = df.loc[:, features].values

In [58]:
y = df.loc[:,['Class']].values

In [61]:
x = StandardScaler().fit_transform(x)

In [64]:
newdf = pd.DataFrame(data = x, columns = features)

In [65]:
newdf.head()

,1,2,3,4,5,6,7,8,9,10,...,10500,10501,10502,10503,10504,10505,10506,10507,10508,10509
0,-0.036272,-0.437358,-0.170557,0.044323,0.264494,-0.978886,-0.161666,-0.748728,-0.194576,0.212202,...,-0.193011,0.074982,0.481941,-0.357245,-0.527579,0.072205,0.110041,0.477657,0.147562,1.351271
1,-0.509168,-0.413515,-0.718879,-0.605100,-0.307486,0.690564,-0.560089,-0.790071,-0.533699,-0.871704,...,-0.423499,-0.787650,0.747757,-0.415547,-0.570941,-0.711295,-0.519631,-0.152017,-0.201614,0.687188
2,1.438051,0.063348,1.995039,2.392240,2.075765,-1.520628,3.245740,0.281544,1.727121,1.810124,...,0.359290,0.764366,-2.676315,0.750500,-0.137315,1.706363,0.979587,-1.647492,-0.621676,-2.074929
3,0.696253,1.017074,0.001140,0.456458,0.741144,-1.188949,1.342825,-0.295055,1.242660,1.139667,...,-0.119081,1.089207,-0.333529,-0.648757,0.252949,0.631848,-0.119839,1.343458,-1.067992,-0.840792
4,0.603529,0.540211,1.330406,0.706236,0.836475,-1.188949,1.223893,1.425924,2.050095,0.636825,...,0.185337,0.457572,-1.549975,1.216919,0.036136,1.258648,2.278909,1.894423,0.428479,-1.604782

In [67]:
len(newdf.columns)

10509

# PCA ; Dimention reduction

In [75]:
pca = PCA()

In [76]:
principalComponents = pca.fit_transform(x)

In [77]:
principalDf = pd.DataFrame(data = principalComponents)

In [79]:
principalDf.head()

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,2.035724,-2.174155,-1.350208,1.895732,-4.150690,-7.195180,-4.474968,2.219466,5.689632,0.177894,...,-0.379893,0.470135,-0.353367,-0.817720,-0.009731,-0.158357,0.072168,-0.056781,-0.161489,2.819117e-14
1,-58.085191,9.234007,8.868253,19.594710,2.371902,-0.901833,-0.508297,8.194225,-3.455912,-3.108050,...,-2.148844,1.797811,3.421788,-5.454973,-3.788212,3.540269,-9.048271,-2.698673,-7.904566,2.819117e-14
2,114.498685,-27.049753,-21.314700,-5.189424,-2.266402,11.316559,-8.223576,9.335244,-13.768981,4.514539,...,0.213021,0.142528,-0.030361,0.126145,0.006192,0.029195,0.043494,-0.088491,-0.021109,2.819117e-14
3,51.860840,-14.537066,-12.026753,-13.233105,-13.863685,-4.651168,-2.881813,-6.842296,6.644654,4.180296,...,0.015420,-0.002846,0.096439,-0.071140,-0.049443,0.018009,0.016915,0.057997,-0.045456,2.819117e-14
4,65.593379,-18.060913,-3.434413,-13.611918,-23.636354,5.907442,-4.618305,-23.208372,-9.992276,2.890790,...,0.066337,0.061299,-0.058182,0.098775,0.222281,0.107288,0.040839,-0.049364,-0.026297,2.819117e-14

In [82]:
principalDf.shape

(102, 102)

In [83]:
finalDf = pd.concat([principalDf, df[['Class']]], axis = 1)
finalDf.head(5)

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,101,Class
0,2.035724,-2.174155,-1.350208,1.895732,-4.150690,-7.195180,-4.474968,2.219466,5.689632,0.177894,...,0.470135,-0.353367,-0.817720,-0.009731,-0.158357,0.072168,-0.056781,-0.161489,2.819117e-14,1
1,-58.085191,9.234007,8.868253,19.594710,2.371902,-0.901833,-0.508297,8.194225,-3.455912,-3.108050,...,1.797811,3.421788,-5.454973,-3.788212,3.540269,-9.048271,-2.698673,-7.904566,2.819117e-14,1
2,114.498685,-27.049753,-21.314700,-5.189424,-2.266402,11.316559,-8.223576,9.335244,-13.768981,4.514539,...,0.142528,-0.030361,0.126145,0.006192,0.029195,0.043494,-0.088491,-0.021109,2.819117e-14,1
3,51.860840,-14.537066,-12.026753,-13.233105,-13.863685,-4.651168,-2.881813,-6.842296,6.644654,4.180296,...,-0.002846,0.096439,-0.071140,-0.049443,0.018009,0.016915,0.057997,-0.045456,2.819117e-14,1
4,65.593379,-18.060913,-3.434413,-13.611918,-23.636354,5.907442,-4.618305,-23.208372,-9.992276,2.890790,...,0.061299,-0.058182,0.098775,0.222281,0.107288,0.040839,-0.049364,-0.026297,2.819117e-14,1

In [84]:
pca.explained_variance_ratio_

array([3.83463679e-01, 9.55752148e-02, 3.51534131e-02, 2.97053284e-02,
       2.86073760e-02, 2.51799302e-02, 2.32181246e-02, 2.24450548e-02,
       1.91429549e-02, 1.81877917e-02, 1.72250899e-02, 1.48989412e-02,
       1.39237291e-02, 1.32279865e-02, 1.17465763e-02, 1.07075200e-02,
       1.02300821e-02, 9.95262100e-03, 9.57000986e-03, 9.00051815e-03,
       8.89739201e-03, 7.89846878e-03, 7.76469217e-03, 7.69689172e-03,
       7.23915051e-03, 7.05370851e-03, 6.80231645e-03, 6.59141481e-03,
       6.23096312e-03, 5.66836304e-03, 5.43027559e-03, 4.76391876e-03,
       4.34865501e-03, 4.00002273e-03, 3.83581114e-03, 3.68898230e-03,
       3.64973339e-03, 3.42716179e-03, 3.32193041e-03, 3.11325312e-03,
       2.96336692e-03, 2.84806175e-03, 2.70873373e-03, 2.65569102e-03,
       2.58478073e-03, 2.54336070e-03, 2.43835803e-03, 2.38402203e-03,
       2.37499613e-03, 2.33485609e-03, 2.23398702e-03, 2.17090225e-03,
       2.07775967e-03, 2.06010185e-03, 2.01416239e-03, 1.94093321e-03,
       1.86692902e-03, 1.78260324e-03, 1.77215346e-03, 1.72523566e-03,
       1.65203838e-03, 1.62253508e-03, 1.59989896e-03, 1.56677501e-03,
       1.53245209e-03, 1.46087375e-03, 1.45065235e-03, 1.41455216e-03,
       1.35726832e-03, 1.31844327e-03, 1.27687766e-03, 1.25421998e-03,
       1.23492913e-03, 1.22011874e-03, 1.16679590e-03, 1.15110959e-03,
       1.13369018e-03, 1.07769958e-03, 1.02788957e-03, 9.98428043e-04,
       9.63701701e-04, 9.40865501e-04, 9.30081656e-04, 8.76539332e-04,
       8.61535219e-04, 8.53699124e-04, 8.41689992e-04, 7.98790495e-04,
       7.79927176e-04, 7.72662127e-04, 7.27330052e-04, 7.04880667e-04,
       7.00317706e-04, 6.92754128e-04, 6.64862059e-04, 6.40079448e-04,
       6.16116290e-04, 5.99714428e-04, 5.29359691e-04, 4.62881514e-04,
       4.58921921e-04, 7.56248763e-32])